body {
    margin: 0;
    font-family: 'Dosis';
  }
  .logo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(207, 19, 57);
    position: fixed;
    height: 800px;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Do Hyeon', sans-serif;
  }
  .sidebar .list{
    margin-top: 50px;
  }
   
  .sidebar a.active {
    background-color: rgb(255, 23, 70);
    color: white;
    border-radius: 8px;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    transition: 1s;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 800px;
    background: rgba(128, 128, 128, 0.089);
  
  }
  .sidebar h3{
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  .dashboard-icon{
    padding-right: 3px;
  }
  .create-icon{
    padding-right: 5px;
  }
  .product-icon{
    padding-right: 4px;
  }
  /*end of navbar styling*/
  .upload{
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
    font-size: 50px;
}
.browse{
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 20px;
    
}
label{
    font-size: 18px;
}
.submit{
    color: white;
    background: crimson;
    width: 150px;
    height: 50px;
    border-radius: 0%;
}
.desc{ 
  resize: none;
  width: 100%;
  outline: none;
}

  /*all media queries*/
  @media screen and (max-width: 767px) {
      .edit{
        display: none;
      }
      .mob-edit{
        display: flex;
        margin: 2px;
        padding-top: 15px;
        width: 100%;
      }
  
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
      padding-left: 3px;
      padding-right: 3px;
      margin-left: 5px;
      margin-right: 5px;
    }
    div.content {
      margin-left: 0;
      height: 100%;
    }

  }
  
  
  /*@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  
  }